html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.grid-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.gridCell {
    border-style: solid;
    flex: 1;
    border: 1px solid black;
    width: 25px;
    height: 25px;
}



.gridRow {
    display: flex;
}